In [231]:
%matplotlib inline
import numpy as np
import pandas as pd
import random as r
import matplotlib.pyplot as plt
import json
from collections import OrderedDict
plt.rcParams["figure.figsize"] = (15, 10)

In [230]:
# currently only includes players who have stats from the year before
years = ['2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020']
positions = ['QB', 'RB', 'WR', 'TE']
full_df = pd.DataFrame()
for position in positions:
    df = pd.DataFrame()
    f1 = open('top_' + position + '_data.json')
    data = json.load(f1, object_pairs_hook=OrderedDict)
    keys = list(next(iter(data[years[0]].items()))[1].keys())
    for i in range(1, len(years)):
        for player in data[years[i]]:
            if player in data[years[i - 1]]:
                x = []
                for key in keys:
                    x.append(data[years[i - 1]][player][key])
                if position == 'QB':
                    x_pos = [1, 0, 0, 0]
                elif position == 'RB':
                    x_pos = [0, 1, 0 , 0]
                elif position == 'WR':
                    x_pos = [0, 0, 1, 0]
                else:
                    x_pos = [0, 0, 0, 1]
                x.extend(x_pos)    
                x.append(data[years[i]][player]['points'])
                l = pd.DataFrame(x).transpose()
            df = df.append(l)
    keys.extend(['is_QB', 'is_RB', 'is_WR', 'is_TE', 'prev_points'])
    full_df = big_df.append(df)
    df.columns = keys
    df.to_csv(position + '_dataframe.csv', index=False)
full_df.columns = keys
full_df.to_csv('full_dataframe.csv', index=False)

In [232]:
full_df

,points,pass_atts,pass_cmps,pass_yds,pass_tds,pass_ints,pass_2pts,rush_atts,rush_yds,rush_tds,...,recs,rec_yds,rec_tds,rec_2pts,fumbles_lost,is_QB,is_RB,is_WR,is_TE,prev_points
0,380.00,583,400,"4,659",37,11,1,23,6,0,...,0,0,0,0,2,1,0,0,0,522.00
0,424.00,670,422,"5,177",43,19,0,15,5,1,...,0,0,0,0,1,1,0,0,0,428.00
0,297.00,528,329,"3,669",27,16,0,47,120,4,...,0,0,0,0,4,1,0,0,0,346.00
0,259.00,527,338,"3,606",26,15,0,27,40,0,...,0,0,0,0,7,1,0,0,0,342.00
0,350.00,485,280,"3,869",19,12,0,127,741,8,...,0,6,0,0,3,1,0,0,0,331.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,5.00,0,0,0,0,0,0,0,0,0,...,4,26,0,0,0,0,0,0,1,8.00
0,4.00,0,0,0,0,0,0,0,0,0,...,2,26,0,0,0,0,0,0,1,6.00
0,4.00,0,0,0,0,0,0,0,0,0,...,2,26,0,0,0,0,0,0,1,6.00
0,29.00,0,0,0,0,0,0,0,0,0,...,9,149,1,0,0,0,0,0,1,4.00
0,29.00,0,0,0,0,0,0,0,0,0,...,9,149,1,0,0,0,0,0,1,4.00